:root {
	--base-light: white;
	--base-background: #e0e0e5;
	--bs-gray-700: #495057;
	--base-title: #777;
	--base-text: #888e94;
	--base-icon: #212529;
	--base-icon-back: #e9ecef;
	--base-main: #dc042c;
	--base-hover: #b90425;

	--border-radius: 0.375rem;

	--neutral-9: #192252;
	--neutral-8: #2a3563;
	--neutral-7: #424f7b;
	--neutral-6: #606d93;
	--neutral-5: #848fac;
	--neutral-4: #a9b4cd;
	--neutral-3: #c5d0e6;
	--neutral-2: #dfe8f6;
	--neutral-1: #eff3fa;

	--success-9: #16671a;
	--success-8: #2b7d25;
	--success-7: #479b36;
	--success-6: #66b949;
	--success-5: #89d860;
	--success-4: #afe786;
	--success-3: #c9f3a0;
	--success-2: #e1fbc1;
	--success-1: #f2fddf;

	--error-9: #7a0925;
	--error-8: #930f25;
	--error-7: #b71926;
	--error-6: #db2424;
	--error-5: #ff4332;
	--error-4: #ff7e65;
	--error-3: #ffa283;
	--error-2: #ffc7ad;
	--error-1: #ffe6d6;

	--warning-9: #736b16;
	--warning-8: #8c821d;
	--warning-7: #aea227;
	--warning-6: #cfc331;
	--warning-5: #f1e43a;
	--warning-4: #f7ed59;
	--warning-3: #fcf476;
	--warning-2: #fefaa2;
	--warning-1: #fffcd0;

	--information-9: #003778;
	--information-8: #014d90;
	--information-7: #006db4;
	--information-6: #0091d8;
	--information-5: #00bafb;
	--information-4: #2cd6fc;
	--information-3: #5fe7fd;
	--information-2: #98f5fe;
	--information-1: #ccfdfe;
}
