@mixin button_repeat($type) {
	width          : 100%;
	display        : flex;
	justify-content: space-between;
	gap            : 0.3rem;
	min-height     : 2.5rem;
	cursor         : pointer;
	user-select    : none;
	border-radius  : var(--border-radius);
	outline        : none;
	align-items    : center;
	position       : relative;
	transition     :
		background-color 0.3s,
		color 0.3s,
		transform 0.3s;

	.button__text-container {
		margin: auto;
	}

	span,
	div {
		pointer-events: none;
		margin        : 0;
		padding       : 0;
	}

	@if $type==button_dark {
		background-color: var(--base-main);
		color           : var(--base-light);
		border          : 1px solid var(--base-main);

		&:hover {
			background-color: var(--base-hover);
			border          : 1px solid var(--base-hover);
		}

		&:active {
			background-color: var(--base-title);
			border          : 1px solid var(--base-title);
		}

		&:disabled {
			background-color: var(--neutral-1);
			color           : var(--neutral-4);
			cursor          : not-allowed;
			border          : 1px solid var(--neutral-5);
		}
	}

	@else if $type==button_none {
		background-color: transparent;
		border          : none;
		height          : 1.8rem;
		padding         : 0;

		.button__text-container {
			margin      : 0;
			margin-right: auto;

			div {
				text-align: start;
			}
		}
	}

	@else if $type==button_highlighter {
		background-color: transparent;
		border          : none;
		border-radius   : 0;

		.button__text-container {
			margin      : 0;
			margin-right: auto;

			div {
				text-align: start;
			}
		}

		&:hover {
			background-color: var(--neutral-2);
		}
	}

	@else if $type==button_link {
		background-color: transparent;
		border          : none;
		height          : 1.8rem;
		padding         : 0;

		.button__text-container {
			margin      : 0;
			margin-right: auto;

			div {
				text-align: start;
			}
		}

		div {
			display        : inline-block;
			position       : relative;
			color          : var(--base-main);
			text-decoration: none;

			&:after {
				content   : '';
				display   : block;
				margin    : auto;
				height    : 2px;
				width     : 0px;
				transition: all 0.5s;
			}

			&:hover:after {
				width     : 100%;
				background: var(--brand-6);
			}
		}
	}

	@else if $type==button_information {
		background-color: var(--information-6);
		color           : var(--base-light);
		border          : 1px solid var(--information-6);

		&:hover {
			background-color: var(--information-7);
		}

		&:active {
			background-color: var(--information-8);
			color           : var(--base-light);

		}

		&:disabled {
			background-color: var(--neutral-1);
			color           : var(--neutral-4);
			cursor          : not-allowed;
		}
	}

	@else if $type==button_success {
		background-color: var(--success-6);
		color           : var(--base-light);
		border          : 1px solid var(--success-6);

		&:hover {
			background-color: var(--success-7);
		}

		&:active {
			background-color: var(--success-8);
			color           : var(--base-light);

		}

		&:disabled {
			background-color: var(--neutral-1);
			color           : var(--neutral-4);
			cursor          : not-allowed;
		}
	}

	@else if $type==button_warning {
		background-color: var(--warning-6);
		color           : var(--base-light);
		border          : 1px solid var(--warning-6);

		&:hover {
			background-color: var(--warning-7);
		}

		&:active {
			background-color: var(--warning-8);
			color           : var(--base-light);

		}

		&:disabled {
			background-color: var(--neutral-1);
			color           : var(--neutral-4);
			cursor          : not-allowed;
		}
	}

	@else if $type==button_error {
		background-color: var(--error-6);
		color           : var(--base-light);
		border          : 1px solid var(--error-6);

		&:hover {
			background-color: var(--error-7);
		}

		&:active {
			background-color: var(--error-8);
			color           : var(--base-light);

		}

		&:disabled {
			background-color: var(--neutral-1);
			color           : var(--neutral-4);
			cursor          : not-allowed;
		}
	}
}

.button {
	button {
		all        : unset;
		line-height: 0;
	}

	&.button_dark {
		@include button_repeat(button_dark);
	}

	&.button_light {
		@include button_repeat(button_light);
	}

	&.button_none {
		@include button_repeat(button_none);
	}

	&.button_highlighter {
		@include button_repeat(button_highlighter);
	}

	&.button_link {
		@include button_repeat(button_link);
	}

	&.button_information {
		@include button_repeat(button_information);
	}

	&.button_success {
		@include button_repeat(button_success);
	}

	&.button_warning {
		@include button_repeat(button_warning);
	}

	&.button_error {
		@include button_repeat(button_error);
	}
}