@import './navbar/navbar';
@import './footer/footer';

.layout {
	min-height: 100vh;
	box-sizing: border-box;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	grid-template-areas:
		'navbar'
		'children'
		'footer';

	@mixin main_layout($fields_each) {
		grid-area: $fields_each;

		@if $fields_each==navbar {
			display: block;
			background-color: var(--base-background);

			.layout__#{$fields_each}-container {
				.layout__#{$fields_each}-content {
					padding: 0.2rem 1rem;
				}
			}
		} @else if $fields_each==children {
			box-sizing: border-box;

			.layout__#{$fields_each}-container {
				height: 100%;
				max-width: 100vw;
				background-color: var(--brand-0);
				margin: 0 auto;

				@media (min-width: 1300px) {
					max-width: 96rem;
				}
			}
		} @else if $fields_each==footer {
			background-color: var(--base-background);
		}
	}

	$fields: navbar, children, footer;

	@each $fields_each in $fields {
		.layout__#{$fields_each} {
			@include main_layout($fields_each);
		}
	}
}
